@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darkColor: rgb(27, 27, 27);
  --darkColorRelief: #212121;
  --darkColor75: rgba(27, 27, 27, 0.75);
  --whiteColor: rgb(254, 246, 226);
  --whiteLight: rgba(254, 246, 226, 0.1);
  --whiteLight25: rgba(254, 246, 226, 0.25);
  --whiteLight50: rgba(254, 246, 226, 0.5);
  --accentColor: rgb(22, 241, 228);
  --accentColor05: rgba(22, 241, 228, 0.05);
  --accentColor25: rgba(22, 241, 228, 0.25);
  --accentColor5: rgba(22, 241, 228, 0.5);
  --errorColor: rgb(255, 82, 148);
  --errorColor05: rgba(255, 82, 148, 0.05);
  --errorColor25: rgba(255, 82, 148, 0.25);
  --errorColor5: rgba(255, 82, 148, 0.5);
  --blackOverlay75: rgba(0, 0, 0, 0.75);
}

body {
  background: var(--darkColor);
  color: var(--whiteColor);
  font-family: Arial, Helvetica, sans-serif;
}

.title-clamp {
  font-size: clamp(2.5rem, 8vw, 4rem);
}
