@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darkColor: #1b1b1b;
  --darkColorRelief: #212121;
  --whiteColor: #fef6e2;
  --accentColor: #16f1e4;
  --errorColor: #e21717;
}

body {
  background: var(--darkColor);
  color: var(--whiteColor);
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  @apply flex min-h-[calc(100dvh-12rem)] w-full flex-col items-center justify-center;
}

.content {
  @apply flex h-full w-full max-w-[75rem] flex-col items-center justify-center px-4 py-8;
}
