@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darkColor: #1b1b1b;
  --darkColorRelief: #212121;
  --whiteColor: #fef6e2;
  --accentColor: #16f1e4;
  --errorColor: #e21717;
}

body {
  background: var(--darkColor);
  color: var(--whiteColor);
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  @apply w-full min-h-[calc(100dvh-12rem)] flex flex-col justify-center items-center;
}

.content {
  @apply w-full max-w-[75rem] h-full py-8 px-4 flex flex-col justify-center items-center;
}
