@tailwind utilities;

.loading-spinner {
  @apply flex items-center justify-center;
}

.lds-ring {
  @apply relative flex items-center justify-center;
}

.lds-ring div {
  @apply absolute box-border block border-solid border-b-transparent border-l-transparent border-r-transparent border-t-accentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.small-ring {
  @apply h-8 w-8;
}
.small-ring div {
  @apply h-4 w-4 border-2;
}

.medium-ring {
  @apply h-8 w-8;
}
.medium-ring div {
  @apply h-5 w-5 border-2;
}

.large-ring {
  @apply h-16 w-16;
}
.large-ring div {
  @apply h-11 w-11 border-4;
}
